// Default bootstrap theming

@import 'edx-bootstrap/sass/open-edx/theme';


/* McDaniel Nov-2018: custom colors. */
$green: #14b53a;      // Mali flag green
$yellow: #fcd116;     // Mali flag yellow
$red: #ce1126;        // Mali flag red



// Modify theme color scheme
$theme-colors: (
//  "primary": $primary,
  "primary": $red,
  "secondary": $secondary,
  "rover-menu": $rover-menu
);
