## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

# App that handles subdomain specific branding
from branding import api as branding_api
%>

<style>
  .logo-container {
    width: 75px;
    height: 75px;
    position: relative; /* If you want text inside of it */
    border: .25px solid #e1e1e1;
    border-radius: 1% 0 1% 0;
    background-color: #f1f1f1;
    margin: auto;
    background-image: url('${static.url("images/africa-map.svg")}');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 1.5s cubic-bezier(.25,.8,.25,1);
    }
  .logo-container:hover {
    transform:scale(1.025);
    border-color: rgba(252, 209, 22, 1);
    border-radius: 20% 0 20% 0;
    background-color: rgba(252, 209, 22, .25);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    background-image: url('${static.url("images/africa-map-green.svg")}');
  }

  .logo-container:hover .logo-text {
    transition-duration: 1s;
  }

  .logo-text {
    color: #333;
    position: relative;
    width: 85%;
    height: 40%;
    margin: 10% auto;
    font-size: 15px;
    line-height: 75px;
  }
  .logo-text span {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 20%;
    text-align: center;
    transform-origin: top center;
    /* border: .25px dotted #999; */
  }

  /* Reverse mode */
  .span-inverted span {
    transform-origin: bottom center;
  }

  .logo-ecampus {
    margin-top: 15px;
  }
  .logo-afrique {
    margin-top: 30px;
  }

  .logo-text span:nth-of-type(1)  { transform: rotate(51deg);  }
  .logo-text span:nth-of-type(2)  { transform: rotate(34deg);  }
  .logo-text span:nth-of-type(3)  { transform: rotate(17deg);  }
  .logo-text span:nth-of-type(4)  { transform: rotate(0deg);   }
  .logo-text span:nth-of-type(5)  { transform: rotate(-17deg); }
  .logo-text span:nth-of-type(6)  { transform: rotate(-34deg); }
  .logo-text span:nth-of-type(7)  { transform: rotate(-51deg); }

  .one-to-one-aspect {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


</style>

<h1 class="header-logo">
  <a href="${branding_api.get_home_url()}">
    <%block name="navigation_logo">
      <div class="logo-container">
        <div class="one-to-one-aspect">
          <div class="logo-text span-inverted logo-ecampus">
            <span>s</span>
            <span>u</span>
            <span>p</span>
            <span>m</span>
            <span>a</span>
            <span>c</span>
            <span>E</span>
          </div>
          <div class="logo-text logo-afrique">
            <span>A</span>
            <span>f</span>
            <span>r</span>
            <span>i</span>
            <span>q</span>
            <span>u</span>
            <span>e</span>
          </div>
        </div>
        </div>
    </%block>
  </a>
  % if course:
    <div class="course-header">
      <span class="provider">${course.display_org_with_default}:</span>
      <span class="course-number">${course.display_number_with_default}</span>
      <%
      display_name = course.display_name_with_default
      if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
        ccx = get_current_ccx(course.id)
        if ccx:
          display_name = ccx.display_name
      %>
      <span class="course-name">${display_name}</span>
    </div>
  % endif
</h1>
% if enable_enterprise_sidebar:
  <div class="enterprise-tagline">
    <% tagline = configuration_helpers.get_value('ENTERPRISE_TAGLINE', settings.ENTERPRISE_TAGLINE) %>
    % if tagline:
      ${tagline}
    % endif
  </div>
% endif
