/*=====================================================================
 McDaniel
 Nov-2018

 Custom styling for ecampusafrique.org LMS
 *=====================================================================*/

    /* ------------- Global styling - Begin ------------- */
    .ecampus-sr ul { display: none; }
    .ecampus-sr li { display: none; }

    .ecampus-course {
      height: 350px;
      box-sizing: border-box;
      position: relative;
      box-shadow: 0 1px 5px 0 rgba(0,0,0, 0.125);
      background: #fff;
      width: 100%;
      margin: auto;
      text-align: center;
      transition: all 0.75s cubic-bezier(.25,.8,.25,1);
      overflow: hidden;
    }

    .ecampus-course a, .ecampus-course a:hover, .ecampus-course a:active, .ecampus-course a:visited {
      text-decoration: none !important;
      color: #333 !important;
    }
    .ecampus-course-image {}
    .ecampus-cover-image {
      height: 160px;
      overflow: hidden;
    }
    .ecampus-cover-image img {
      width: 100%;
      height: auto;
      transition: all 2.5s cubic-bezier(.25,.8,.25,1);
      transition-delay: 1s;
    }

    .ecampus-course-info {}
    .ecampus-course-description {
      display: none;
      margin: 10% 5px 0px 5px;
      line-height: 1.15;
      font-family: sans-serif;
      font-weight: 100;
      font-size: smaller;
    }

    .ecampus-course-date {
      display: none;
      margin-top: 0;
      background-color: #fcd116;    /* Mali yellow */
      padding: 5px;
      color: white;
      font-family: sans-serif;
      font-weight: 400;
    }

    .ecampus-course-organization {
      margin: 30% 0 5% 0;
      font-size: 1.25em;
      font-weight: 700;
    }

    .ecampus-course-number {
      font-size: small;
    }

    .ecampus-course-name {}

    .ecampus-learn-more {
      transition: all 0.75s cubic-bezier(.25,.8,.25,1);
      transition-delay: 0.5s;
      display: none;
      position: absolute;
      bottom: 3.5%;
      left: 15%;
      border: 1px solid #ce1126;
      color: #fff;
      background-image: linear-gradient(-45deg, #ce1126, #fcd116, #14b53a);
      width: 70%;
      margin: auto;
      text-align: center;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    /* ------------- Global styling - End ------------- */

     /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    }   /* Small Devices, Tablets */

    /* Small devices */
    @media only screen and (max-width : 991px) {
      /* mobile menu items: blut to gray */
      .mobile-menu .mobile-nav-link a {
        color: #666 !important;
      }

      /* mobile logo: kill bottom margin */
      .global-header .header-logo h1 {
        margin-bottom: 0 !important;
      }

      /* mobile logo: shrink size from 75px */
      .logo-container {
        width: 45px !important;
        height: 45px !important;
      }

      /* course card: reduce margin-top from 30% */
      .ecampus-course-organization {
        margin: 10% 0 5% 0 !important;
      }

      /* course card: force "learn more" button to appear */
      .ecampus-learn-more {
        display: block !important;
      }

    } /* @media only screen and (max-width : 991px) */


    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

      /* increase height of course card by 25px */
      .ecampus-course:hover {
        transform:scale(1.05);
        height: 375px;
        box-shadow: 1px 1px 5px 1px rgba(0,0,0, 0.25);
        border-radius: 0 0 8% 8%;
      }

      /* Blur the course card image  */
      .ecampus-course:hover .ecampus-cover-image img {
        opacity: 0.80;
        filter: blur(1px);
      }

      /* force the course card detail description to appear */
      .ecampus-course:hover .ecampus-course-description {
        display: block;
      }

      /* force the course date to appear */
      .ecampus-course:hover .ecampus-course-date {
        display: block;
      }

      /* hide the course card organization name */
      .ecampus-course:hover .ecampus-course-organization {
        display: none;
      }

      /* hide the course card course name */
      .ecampus-course:hover .ecampus-course-name {
        display: none;
      }

      /* hide the course card course number */
      .ecampus-course:hover .ecampus-course-number {
        display: none;
      }

      /* force the "learn more" button to appear */
      .ecampus-course:hover .ecampus-learn-more {
        display: block;
      }

    } /* @media only screen and (min-width : 992px) */
